Debug
/projectTestCPP.vcxproj
/projectTestCPP.vcxproj.filters
/projectTestCPP.vcxproj.user
/Debug/projectTestCPP.tlog/CL.command.1.tlog
/Debug/projectTestCPP.tlog/CL.read.1.tlog
/Debug/projectTestCPP.tlog/CL.write.1.tlog
/Debug/projectTestCPP.tlog/link.command.1.tlog
/Debug/projectTestCPP.tlog/link.read.1.tlog
/Debug/projectTestCPP.tlog/link.write.1.tlog
/Debug/projectTestCPP.tlog/projectTestCPP.lastbuildstate
/Debug/beans.obj
/Debug/json_reader.obj
/Debug/json_value.obj
/Debug/json_writer.obj
/Debug/projectTestCPP.Build.CppClean.log
/Debug/projectTestCPP.log
/Debug/test111.obj
/Debug/UDPserver.obj
/Debug/UDPTools.obj
/Debug/vc141.idb
/Debug/vc141.pdb
